// Design Source: https://codepen.io/supah/pen/WwoYjO

.grid-item {
  padding: 10px;
  min-width: 160px;
  cursor: pointer;
  -webkit-flex-basis: 160px; /* Safari 6.1+ */
  flex-basis: 160px;

  .poster {
    width: 100%;
    object-fit: scale-down;
    max-height: 250px;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: transform .2s;
    
    &.active {
      opacity: 0;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .title {
    color: #525661;
    margin-bottom: 4px;
    font-size: 16px;
  }

  .info {
    font-size: 11px;
    opacity: 0.8;
  }

  .desc {
    display: none;
  }
}