@import "../../design//variables.scss";

.Compare__wrapper {
  .flex-container {
    display: flex;
  }
  .flex-item {
    flex: 1;
  }
  .compare-selector  {
    height: 50px !important;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid $yellow;
    background-color: $yellow;
    border-radius: .3em;
    padding: 1em 3.5em 1em 1.5em;
		margin: 0;
		display: block;
    width: 100%;
  }
}