@import "./design/variables.scss";

body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

::selection {
  background: $yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $yellow; /* Gecko Browsers */
}

.grid {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  padding: 8px 18px;
  overflow-x: scroll;
}

.padded-content {
  margin: $global-margin-value;
}

ul.unbulleted-list {
  margin: 0;

  li {
    list-style: none;
    display: inline;
    margin-right: 30px;	
  }
}

.button__slick {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 0.5rem 0;
  border-bottom: 10px solid $yellow;
  pointer: cursor;

  &:hover {
    border-bottom: 10px solid $bermuda;
  }
}

.float-right {
  float: right;
  margin-right: 20px;
}